h1{
	font: Arial, san-serif;
	font-size: 25pt;
	color: white;

}
h2{
	font: Arial, san-serif;
	font-size: 20pt;
	color: white;

}
body{
	background-color: grey;
    font-size: 15pt;
}
div{
	width: 600px;
    position: relative;
    left: 400px;
    border: solid white 5px;
    padding: 10px;
}
